 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height:100%;
    width:100%;
    
}
#navbar{
    padding:20px;
}
#navbar ul {
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    
}

#navbar li  a{
    color:black;
    text-decoration: none;
    }

    #navbar img {
        width: 100px; 
        height: auto;
       
    }
 
#navbar button {
    background-color: #4CAF50;  
    color: white;               
    padding: 10px 20px;         
    border: none;               
    border-radius: 5px;         
    cursor: pointer;           
    font-size: 16px;            
    transition: background-color 0.3s ease;  
}

 #navbar button:hover {
    background-color: #45a049;  
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.search-box i {
    position: absolute;
    left: 10px;
    font-size: 18px;
    color: black;
}

.search-box input #one {

    position: relative;
    padding-left: 30px; 
    font-size: 16px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; 
}

.search-box input #two {
    position:absolute;
    padding-left: 15px; 
    font-size: 16px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; 
    z-index: -1;
}
 