 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height:100%;
    width:100%;
    
}
#navbarleft {
    padding:20px;
    border-bottom: 1px solid ;
}
#navbarleft  ul {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    list-style-type: none;
    margin:5px;
    
}

#navbarleft li  a{
    color:black;
    text-decoration: none;
    }

    #navbarleft img {
        width: 90px; 
        height: auto;
       
    }
 
#navbarleft button {
    background-color: #4CAF50;  
    color: white;               
    padding: 10px 20px;         
    border: none;               
    border-radius: 5px;         
    cursor: pointer;           
    font-size: 16px;            
    transition: background-color 0.3s ease;  
}

 #navbarleft button:hover {
    background-color: #45a049;  
}
#navbarRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.search-box i {
    position: absolute;
    left: 10px;
    font-size: 18px;
    color: black;
}

.search-box input #one {

    position: relative;
    padding-left: 30px; 
    font-size: 16px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; 
}

.search-box input #two {
    position:absolute;
    padding-left: 15px; 
    font-size: 16px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; 
    z-index: -1;
}
#heroSection{
    margin-left: 350px;
    margin-right:350px;
}
#navBelow ul{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin:20px;
} 
#box{
 height:600px;
 width:auto;
 background-color: whitesmoke;
 border:2px solid black;
 border-radius:40px;
 padding:20px;
 position:relative;
}
   #box .content{
    position:absolute;
    left:35%;
    /* font-size: 24px; */
    line-height: 1.5;

}
#box .content h1{
    font-size:30px;
    font-weight:600;
}